html {
    height: 100%;
	padding-bottom: 20px;
    margin: 0;
}
body {
	height: 100%;
	padding-bottom: 20px;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

	background: rgba(203,219,114,1);
background: -moz-linear-gradient(top, rgba(203,219,114,1) 0%, rgba(140,176,23,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,219,114,1)), color-stop(100%, rgba(140,176,23,1)));
background: -webkit-linear-gradient(top, rgba(203,219,114,1) 0%, rgba(140,176,23,1) 100%);
background: -o-linear-gradient(top, rgba(203,219,114,1) 0%, rgba(140,176,23,1) 100%);
background: -ms-linear-gradient(top, rgba(203,219,114,1) 0%, rgba(140,176,23,1) 100%);
background: linear-gradient(to bottom, rgba(203,219,114,1) 0%, rgba(140,176,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbdb72', endColorstr='#8cb017', GradientType=0 );
}

.form-signin {
	background-color: #f0f0f0;
	padding: 20px 40px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;

	 position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);

	  -webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.nopaddingleft {
   padding-left: 0 !important;
}
.nopaddingright {
   padding-left: 0 !important;
}

.container {
	padding: 70px;
    padding-top: 10px;
    background-color: #fff;

}

.footer, .header {
	padding:10px;	
	color: #fff;
}

.topper {
	padding: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
.footer {
	background-color: #2B2C2B;
	text-align: right;
	font-size: 12px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.breadcrumb {
	font-size:12px; 
	background:none; 
	text-align:left; 
	margin-bottom:5px; 
	padding-left:0px;
  	list-style: none;
}

.header-right {
	float: right!important;
	padding-right:60px;
}

.header, .header-db {
	background-color: #6b6b6b;
	text-align: left;
	font-size: 20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.header {
	padding-left: 70px;
}

.header-db {
	text-align: center;	
	padding: 5px 5px 5px 0px;
	color: #fff;
}

.head-container {
	padding-top: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: #424242;
	padding-bottom: 10px;
	color: #fff;
}
.form-container {
	background-color: #f0f0f0;
	padding:20px;
	padding-top: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.db-header {
	padding-bottom: 10px;
}
.db-h {
	margin-top: 0px;
}

.h-center {
	text-align: center;
}

.grid-button {

	width:40%;
	margin:10px;
	padding-top:65px;
	padding-bottom:65px;
}

.button-container {
	padding-top:10px;
	padding-bottom:10px;
	border: solid 1px #6b6b6b;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.cell-icon {
	text-align: center;
}

.page-header {
	color: #fff;
	text-align: left;
	margin: 0px;
	margin-top:10px;
	padding-left:20px;
	border-bottom: none;
}